body {
  text-align:center;
  color: #40514E;
}
.top-container{
  background-color: #D6EFED;
}
.cloud-a{
  position: relative;
  left:300px;
  margin-top: 40px;
}
.cloud-b{
  position: absolute;
  left: 200px;
  margin-top: 30px;
}
.mountain{
  margin-top: 20px;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #4C3A51;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #7A86B6;
}
.profile{
  margin-top: 60px;
  margin-bottom: 20px;
}
hr.line{
  border-top: 5px dotted #7D9D9C;
  width: 7%;
  margin-top: 50px;
  margin-bottom: 60px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.skill-a{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.image-a{
  width: 25%;
  float: left;
  margin-right: 30px;
  position: relative;
  bottom: 10px;

}
.image-b{
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr.line-b{
  width: 10%;
  border-top: 5px dotted #7D9D9C;
  margin-top: 80px;
}
.para{
  margin-bottom: 50px;
}
a:link{
  text-decoration: none;
}
.last-container{
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 50px 0px 20px;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 20px;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
